/* general */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

body{
  font-family: Montserrat;
}
/* header */
header{
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.logo{
  height: 70px;
  width: 20%;
  border-right: 2px solid black;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 4%;
  -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

nav{
  /* height: 70px; */
  width: 100%;
  margin-bottom: 3%;
}
nav li{
  display: inline;
  list-style: none;
  padding-right: 2%;
}

a{
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
}

.immagine{
  height: 450px;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 10px;
  -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

.testo{
  padding-top: 240px;
  padding-left: 30px;
  padding-right: 500px;
  color: grey;
}
.testo > p{
  font-size: 30px;
}
.testo > span{
  font-size: 15px;
}

/* .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
} */

/* main */
main{
  margin-bottom: 2%;
}
.maintitle{
  width: 100%;
  margin-bottom: 2%;
  padding:5px;
}

.maintitle>h1{
  font-size: 40px;
}

.maintitle>p{
  color: grey;
  margin-bottom: 5px;
  font-size: 10px;
}

main .menu .col{
  float:left;
}

.menu{
  width: 100%;
}

.links{
  width: 23%;
  margin-bottom: 2%;
}

.immaginecol{
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 30px;
}
.primaimmg{
  background-image: url("../img/img-1.jpg");
  -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

.contenuto p{
  margin-bottom: 10px;
}
.contenuto span{
  color: grey;
}


.main-content{
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.secondaimmg{
  background-image: url("../img/banner-2.jpg");
  -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

.widget{
  width: 23%;
  margin-bottom: 2%;
}

.terzaimmg{
  background-image: url("../img/img-3.jpg");
  -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}
/* footer */
footer{
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 2%;
}
/* azioni */

a:hover{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 5px #f0626e;
  box-shadow: 0 0 5px #f0626e;
  cursor: pointer;
}
.links:hover{
  box-shadow: 0 0 5px #f0626e;
  cursor: pointer;
}
.main-content:hover{
  box-shadow: 0 0 5px #f0626e;
  cursor: pointer;
}
.widget:hover{
  box-shadow: 0 0 5px #f0626e;
  cursor: pointer;
}
footer::after{
  content: " \2665";
  color: red;
}
footer::before{
  content: " \2665";
  color: red;
}

footer:hover::after{
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
footer:hover::before{
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

.primaimmg:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}

.secondaimmg:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}

.terzaimmg:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}

.immagine:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}